.DS_Store
**/.DS_Store
.cache
.dap-breakpoints
.emacs.desktop*
.lsp-session-v*
.persistent-scratch
.persistent-scratch.bak
auto-save-list
bookmarks
devdocs
devdocs-browser
eln-cache
elpa
eshell
image-dired
lisp/trav
multisession
network-security.data
nov-places
request
transient
trav
tree-sitter/*
url
games