.cache
.DS_Store
tree-sitter/*
lisp/kats-configure-erc.el
lisp/trav
auto-save-list
devdocs
devdocs-browser
eln-cache
eshell
image-dired
multisession
transient
url
trav
elpa
.emacs.desktop.bak
.emacs.desktop.lock
request
.lsp-session-v*
.dap-breakpoints
network-security.data
nov-places