[submodule "lisp/copilot.el"]
	path = lisp/copilot.el
	url = https://github.com/copilot-emacs/copilot.el
[submodule "lisp/trav-el"]
	path = lisp/trav-el
	url = git@github.com:ariane-emory/trav-el.git
[submodule "util/tree-sitter-module"]
	path = util/tree-sitter-module
	url = git@github.com:casouri/tree-sitter-module.git
